<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kaoho.elf.mapper.user.UserInfoMapper">
    <resultMap id="BaseResult" type="UserInfo">
        <id     column="user_id"       property="id"/>
        <result column="username"      property="username"/>
        <result column="sex"           property="sex"/>
        <result column="user_status"   property="userStatus"/>
        <result column="birthday"      property="birthday"/>
        <result column="telephone"     property="telephoneNo"/>
        <result column="address"       property="address"/>
        <result column="email"         property="email"/>
        <result column="create_time"   property="createTime"/>
        <result column="create_user"   property="createUser"/>
        <result column="update_time"   property="updateTime"/>
        <result column="update_user"   property="updateUser"/>
        <result column="is_delete"     property="isDelete"/>
    </resultMap>

    <sql id="BaseSql">
        select
          eui.user_id, eui.username, eui.sex, eui.user_status, eui.birthday, eui.telephone, eui.address, eui.email, eui.create_time
        from
          elf_user_info eui
    </sql>

    <select id="getUserList" parameterType="UserInfo" resultMap="BaseResult">
        <include refid="BaseSql"/>
            where eui.is_delete = 0
        <if test="username != null and username != ''">
            and eui.username like concat ('%', #{username}, '%')
        </if>
        <if test="telephoneNo != null and telephoneNo != ''">
            and eui.telephone like concat('%', #{telephoneNo}, '%')
        </if>
        <if test="params.beginTime != null and params.endTime != ''">
            and date_format(eui.create_time,'%y%m%d') &gt;= date_format(#{params.beginTime},'%y%m%d')
        </if>
        <if test="params.endTime != null and params.endTime != ''"><!-- 结束时间检索 -->
            and date_format(eui.create_time,'%y%m%d') &lt;= date_format(#{params.endTime},'%y%m%d')
        </if>
    </select>

    <insert id="insertUser" parameterType="UserInfo" useGeneratedKeys="true" keyProperty="id">
        insert into elf_user_info(
            <if test="id != '' and id != 0">user_id,</if>
            <if test="username != '' and username != null">username,</if>
            <if test="sex != '' and sex != null">sex,</if>
            <if test="telephoneNo != '' and telephoneNo != null">telephone,</if>
            <if test="address != '' and address != null">address,</if>
            <if test="email != '' and email != null">email,</if>
            create_time
        )
        values
        (
            <if test="id != '' and id != 0">#{id},</if>
            <if test="username != '' and username != null">#{username},</if>
            <if test="sex != '' and sex != null">#{sex},</if>
            <if test="telephoneNo != '' and telephoneNo != null">#{telephoneNo},</if>
            <if test="address != '' and address != null">#{address},</if>
            <if test="email != '' and email != null">#{email},</if>
            sysdate()
        )
    </insert>
</mapper>